Esto es un recordatorio de lo que llevamos encerrado en estye entorno virtual

In [1]:
# 1. Importar librerías necesarias
import os
from dotenv import load_dotenv
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# 2. Cargar las variables de entorno desde el archivo .env
# Esto permite mantener seguras las credenciales de la base de datos
load_dotenv()

True

In [3]:
# 3. Obtener las credenciales de la base de datos desde las variables de entorno
usuario = os.getenv("DB_USER")
contraseña = os.getenv("DB_PASSWORD")
host = os.getenv("DB_HOST")
base_de_datos = os.getenv("DB_NAME")
puerto = os.getenv("DB_PORT")

In [4]:
# 4. Crear el engine de SQLAlchemy para conectar pandas con MySQL
# Esto permite a pandas leer datos directamente desde la base de datos
engine = create_engine(f"mysql+mysqlconnector://{usuario}:{contraseña}@{host}:{puerto}/{base_de_datos}")

In [5]:

# 5. Leer la tabla 'diccionario_campos' en un DataFrame de pandas
# Así podemos manipular y analizar el diccionario de datos con pandas
diccionario = pd.read_sql("SELECT * FROM diccionario_campos", engine)

In [9]:
# 6. Mostrar las primeras filas para verificar la estructura del diccionario
print("Primeras filas del diccionario de datos:")
display(diccionario.head())

Primeras filas del diccionario de datos:

,id,tabla,campo,tipo_dato,descripcion
0,1,Transacciones,id,INT,Identificador único de la transacción
1,2,Transacciones,fecha,DATE,Fecha de la transacción
2,3,Transacciones,monto,"DECIMAL(12,2)",Monto de la transacción
3,4,Transacciones,estado,VARCHAR(20),"Estado de la transacción (ej: Aceptada, Rechaz..."
4,5,Transacciones,id_pagador,INT,Identificador del pagador

In [8]:
# 7. Ejercicio a) ¿Cuántos campos tiene cada tabla?
# Agrupamos por la columna 'tabla' y contamos los campos
campos_por_tabla = diccionario.groupby('tabla')['campo'].count()
print("\nCantidad de campos por tabla:")
display(campos_por_tabla)

Cantidad de campos por tabla:

tabla
Comercio              3
Pagador               3
Transacciones         6
Transacciones_Rest    4
Name: campo, dtype: int64

In [7]:
# 8. Ejercicio b) ¿Cuáles son los campos tipo DECIMAL en todas las tablas?
# Filtramos las filas donde el tipo de dato contiene la palabra 'DECIMAL'
campos_decimal = diccionario[diccionario['tipo_dato'].str.contains('DECIMAL', case=False)]
print("\nCampos tipo DECIMAL:")
display(campos_decimal[['tabla', 'campo', 'tipo_dato']])

Campos tipo DECIMAL:

                tabla  campo      tipo_dato
2       Transacciones  monto  DECIMAL(12,2)
8  Transacciones_Rest  monto  DECIMAL(12,2)

In [6]:
# 9. Ejercicio c) ¿Cuáles campos tienen la palabra 'correo' en la descripción?
# Filtramos las filas donde la descripción contiene la palabra 'correo'
campos_correo = diccionario[diccionario['descripcion'].str.contains('correo', case=False, na=False)]
print("\nCampos relacionados con correo:")
display(campos_correo[['tabla', 'campo', 'descripcion']])

Campos relacionados con correo:

      tabla  campo                     descripcion
12  Pagador  email  Correo electrónico del pagador

In [10]:
# 10. Ejercicio d) ¿Cuáles son los campos de la tabla 'Pagador'?
# Filtramos las filas donde la tabla es 'Pagador'
campos_pagador = diccionario[diccionario['tabla'] == 'Pagador']
print("\nCampos de la tabla Pagador:")
display(campos_pagador[['campo', 'tipo_dato', 'descripcion']])

Campos de la tabla Pagador:

     campo     tipo_dato                      descripcion
10      id           INT  Identificador único del pagador
11  nombre  VARCHAR(100)               Nombre del pagador
12   email  VARCHAR(100)   Correo electrónico del pagador

In [11]:
# 11. Guardar los resultados en un archivo Excel, cada análisis en una hoja diferente
with pd.ExcelWriter("resumen_diccionario.xlsx") as writer:
    campos_por_tabla.to_frame().to_excel(writer, sheet_name="Campos por tabla")
    campos_decimal.to_excel(writer, sheet_name="Campos DECIMAL", index=False)
    campos_correo.to_excel(writer, sheet_name="Campos correo", index=False)
    campos_pagador.to_excel(writer, sheet_name="Pagador", index=False)

print("\nResumen guardado en 'resumen_diccionario.xlsx'")

Resumen guardado en 'resumen_diccionario.xlsx'